[Unit]
Description=LoggingDemo
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=brian
ExecStart=/home/brian/miniforge3/envs/logging-demo/bin/python /home/brian/logging-demo/logging_demo/main.py

[Install]
WantedBy=multi-user.target